footer{
    position: relative;
    bottom: -800px;
    
    .Green-section{
        background-color: #2EB398;
        border-top: transparent;
        border-bottom: transparent;height: 95vh;
        width: 100vw;
        display: flex;
        height: 55vh;
        .div-container{
            display: flex;
            flex-direction: row;
            border: 2px solid white;
            width: 80vw;
            height: 50vh;
            flex-direction: row;
            margin: auto;
            border-top: transparent;
            border-bottom: transparent;
            border-left: 1px solid #248E78;
            border-right: 1px solid #248E78;
            .Green-section-img{
                width: 20vw;
                margin-top: 2vw;
            }

            .Green-section-text{
                margin-top: 3vw;
                margin-left: 2vw;
                font: normal 90% arial, helvetica, sans-serif;

                h1{
                    color: white;
                    font-size: 28px;
                    font-weight: 200;
                    margin-bottom: 0;

                }
                h2{
                    font-size: 14px;
                    color: #248E78;
                    margin-top: 3px;
                }

                p{
                    color: white;
                    line-height: 25px;
                }
            }
        }
    }

   

    .hexagon1 span {
        position: absolute;
        display: block;
        float:left;
    border-left: 170px solid #fff;
    border-right: 170px solid #fff;
    }

  
    
    .top1 {
    top: 0;
    border-top: 0px solid transparent;
     border-bottom: 75px solid transparent;
    }
    
    .bottom1{
    bottom: 0px;
    border-bottom: 0px solid transparent;
    border-top: 75px solid transparent;
    }
    
    .ProfileImg{
        margin-left: 30px;
        margin-top: 50px;
        width: 230px;

    }

  

    .black-contact-footer{
        background-color: #353535;
        height: 90vh;
        width: 100vw;
        display: block;
        .black-contact-footer-wrapper{
        border: none;
        padding-top: 50px;
        color: white;

        h3{
            font: normal 90% arial, helvetica, sans-serif;
            font-size: 24px;
            color: #ffffff;
            text-transform: capitalize;
            margin-bottom: 0;
        }
        p{
            font-size: 14px;
            color: #999999;
            line-height: 1.5em;
            margin-top: 2px;
        }

        

        
        .text_contact{
            margin-top: 6.4vw !important;
            margin-left: 2vw !important;
            color: #c9c9c9;
            font-size: 13px;
            line-height: 1.8em;
            margin: 5px 0 0;
            text-align: justify;
            font-weight: 80;
            width: 20vw;
            p span{
                color: white !important;
                font-size: 14px;
            }
        .SOME{
            margin-top: 3vw;
            .addres-line{
             .i .fa{
                position: absolute;
                color: white;
                z-index: 200;
             }
            }
        }
}
                
        
        }
    }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: none;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        background-color: #454545;
        color: #9C9C9C;
      }
      
      input[type=submit] {
        background-color: #2EB398;
        color: white;
        padding: 12px 20px;
        border: none;
        cursor: pointer;
        float: right !important;
        width: 110px;
      }
      
      input[type=submit]:hover {
        background-color: #45a049;
      }

      
      

   
}
