html{
    padding: 0;
    margin: 0;
    body{
        padding: 0;
        margin: 0;
    }
}

/*Navigation*/
.nav_design_triangle_down{
border-left: 150px solid transparent;
border-right: 150px solid transparent;
border-top: 80px solid #323232;
width: 0px;
position: relative;
margin-left: 40%;
margin-top: 30px;
position: fixed;
z-index: 20;
top: 0;
height: auto;
}

.nav_design_triangle{
    width: 100vw;
    height: 6vw;
    background-color: #323232;
    margin-top: -10px;
    position: fixed;
    z-index: 200;
    top: 0;
}

nav{
    position: fixed;
    z-index: 300;
    top: 10px;
    left: 34%;
}

#nav ul{
    padding: .2em 0;
    margin: 0;
    list-style-type: none;
    color: #777;
    width: 100%;
    font: normal 90% arial, helvetica, sans-serif;
    text-align: center;
    
}
li { display: inline;
    height: 50px; 
    vertical-align: middle;

}
li a{
    text-decoration: none;
    background-color: #323232;
    color: white;
    font-size:1.5em;
    font-family: helvetica, sans-serif, arial;
    padding: .2em 1em;
   text-transform: uppercase;
   font-size: 14px;
   
}

li .active{
    color: rgb(1, 182, 158);

}

li a:hover{
    color: rgb(1, 182, 158);
  transition: all 0.3s ease-in-out;
}
