



/* Her fortæller jeg at body'ens ikke skal vise, 
hvad der tikker ud fra body og hvilken font jeg vil bruge  */
body{
  font-family: 'open_sansregular';
  overflow-x: hidden;
}

/*Gallery section med hexagoner */
/*-----------------------------------------------*/

/*Her sætter jeg margin til auto for at centrer elementerne
leg laver en min-height for at hindre overlab, 
positon fixed for at tillade footer at scrole uden at main flytter sig.
width for at have et helt view width, overflow tillades vertikalt
men skjules hotisontalt. scroll-behavior smooth for en 
glidende scroll og height for at hele pentagon-galeriet, hvises uden overlab.   */
main{
    margin: auto;
    min-height: 200px;
    position: fixed;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 100%;
.pentagon-galley{
  
  #Gallery{
    position: relative; /*for at placerer gallery relativt efter main */
    left: 9%;  /* for at tilpasse centreringen*/
    margin-top: 170px; /*for at galeriet ikke bliver scrollet under nav. */
  }
  


   
}

.clipped-border{
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);/*dette er bare et webkit*/
   clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%); /*Her beskriver jeg hvordan div'en skal klippes for at ligne en hexagon*/
   background:linear-gradient(#4c88b7,lightgrey);/* her beskriver jeg den gradient der ligger henover hexagonerne*/
 
   transition:transform 0.2s;/* den transformation der sker ved mouseover*/
   position:absolute;/*For at styre placeringen af hexagonerne*/
   cursor:pointer;/*Så der kommer en pointer over hexagonerne ved mouseover*/
   #clipped {
    max-height: 250px;
    }
   
}
  
/*glaseffekt af hexagoner ved mouseover*/
    .clipped-border:before{
      content:'';
      position:absolute;
      opacity:0.5;
      width:350px;
      height:70px;
      background:white;
      top:0;
      left:0;
      z-index:1;
      transform:rotate(45deg);
      transition:transform 0.5s;
    }
     /* hoover glaseffekt på hexagoner*/
    .clipped-border:hover:before{
      transform: translate(-100px,400%) rotate(45deg);
      transition:transform 0.5s;
    }
    
    /*hexagon forstørrelse ved hoover*/
      .clipped-border:hover{
          transform:scale(1.2);
          transition:transform 0.2s;
          z-index:10;
        }
  
      /* placering af enkeltvis hexagon fra venstre*/
      .clipped-border:nth-child(1){
  
          left: 128px;
      }
        .clipped-border:nth-child(2){
            left: 368px;
        }
        .clipped-border:nth-child(3){
          left: 608px;
      }
      .clipped-border:nth-child(4){
          left: 848px;
      }
       /*zweite Reihe*/
       .clipped-border:nth-child(5) {
           top: 200px;
          left: 8px;
      }
      .clipped-border:nth-child(6){
          top: 200px;
          left: 248px;
      }
      .clipped-border:nth-child(7){
          top: 200px;
          left: 488px;
      }
      .clipped-border:nth-child(8){
          top: 200px;
          left: 728px;
      }
      .clipped-border:nth-child(9){
          top: 200px;
          left: 968px;
      }

      .clipped-border:nth-child(10){
          top: 400px;
          left: 128px;
      }
      .clipped-border:nth-child(11){
          top: 400px;
          left: 368px;
      }
      .clipped-border:nth-child(12){
          top: 400px;
          left: 608px;
      }
      .clipped-border:nth-child(13){
          top: 400px;
          left: 848px;
      }
  /*RESPONSIVE 1230px bredde*/
  
  @media screen and (max-width: 1230px) {
      .clipped-border {
          max-height:200px;
          max-width:200px;
      }

      .clipped-border:nth-child(1) 
      {
        left: 103px;
      }

      .clipped-border:nth-child(2) 
      {
        left: 297px;
      }

      .clipped-border:nth-child(3) 
      {
        left:491px;
      }
      .clipped-border:nth-child(4) {
        left:685px;
      }
      .clipped-border:nth-child(5) 
      {
        top: 161px;
        left: 6px;
      }
      .clipped-border:nth-child(6) 
      {
        top: 161px;
          left: 200px;
      }
      .clipped-border:nth-child(7) 
      {
        top: 161px;
          left: 394px;
      }
      .clipped-border:nth-child(8) 
      {
        top: 161px;
          left: 588px;
      }
      .clipped-border:nth-child(9) 
      {
        top: 161px;
          left: 782px;
      }
      .clipped-border:nth-child(10) 
      {
        top: 324px;
        left: 102px;
      }
      .clipped-border:nth-child(11) 
      {
        top: 324px;
        left: 297px;
      }
      .clipped-border:nth-child(12) 
      {
        top: 324px;
        left: 491px;
      }
      .clipped-border:nth-child(13) 
      {
        top: 324px;
        left: 685px;
      }
    
  }
   
    
     

  /*---------------1024px bredde-------------------------*/
  @media screen and (max-width: 1024px) {
      .clipped-border {
          max-height:200px;
          max-width:200px;
      }
      .clipped-border:nth-child(1) 
      {
        left: 0px;
      }
      .clipped-border:nth-child(2) 
      {
        left: 194px;
      }
      .clipped-border:nth-child(3) 
      {
        left: 388px;
      }
      .clipped-border:nth-child(4) 
      {
        left: 97px;
        top: 162px;
      }
      .clipped-border:nth-child(5) 
      {
        top: 162px;
        left: 291px;
      }
      .clipped-border:nth-child(6) 
      {
        top: 324px;
        left: 0px;
      }
      .clipped-border:nth-child(7) 
      {
        top: 324px;
        left: 194px;
      }
      .clipped-border:nth-child(8) 
      {
        top: 324px;
        left: 388px;
      }
      .clipped-border:nth-child(9) 
      {
        top: 486px;
        left: 97px;
      }
      .clipped-border:nth-child(10) 
      {
        top: 486px;
        left: 292px;
      }
      .clipped-border:nth-child(11) 
      {
        top: 648px;
        left: 0px;
      }
      .clipped-border:nth-child(12) 
      {
        top: 648px;
        left: 195px;
      }
      .clipped-border:nth-child(13) 
      {
        top: 648px;
        left: 390px;
      }
    }
  
  /*600px bredde */
  
  @media screen and (max-width: 600px) {
      .clipped-border {
          max-height:160px;
          max-width:160px;
      }
      .clipped-border:nth-child(1) 
      {
          left: 0px;
      }
      .clipped-border:nth-child(2) 
      {
          left: 158px;
      }
      .clipped-border:nth-child(3) 
      {
          left: 316px;
      }
      .clipped-border:nth-child(4) 
      {
          left: 79px;
          top: 132px;
      }
      .clipped-border:nth-child(5) 
      {
          top: 132px;
          left: 237px;
      }
      .clipped-border:nth-child(6) 
      {
          top: 264px;
          left: 0px;
      }
      .clipped-border:nth-child(7) 
      {
          top: 264px;
          left: 158px;
      }
      .clipped-border:nth-child(8) 
      {
          top: 264px;
          left: 316px;
       }
      .clipped-border:nth-child(9) 
      {
          top: 396px;
          left: 79px;
      }
      .clipped-border:nth-child(10) 
      {
          top: 396px;
          left: 237px;
      }
      .clipped-border:nth-child(11) 
      {
          top: 528px;
          left: 0px;
      }
      .clipped-border:nth-child(12) 
      {
          top: 528px;
          left: 158px;
      }
      .clipped-border:nth-child(13) 
      {
          top: 528px;
          left: 316px;
      }
    }
    
  /*500px bredde*/
  
  @media screen and (max-width: 500px) {
      .clipped-border {
          max-height:120px;
          max-width:120px;
      }
      .clipped-border:nth-child(1) {
          left: 0px;
      }
      .clipped-border:nth-child(2) {
          left: 122px;
      }
      .clipped-border:nth-child(3) {
          left: 244px;
      }
      .clipped-border:nth-child(4) {
          left: 61px;
          top: 102px;
      }
      .clipped-border:nth-child(5) {
          top: 102px;
          left: 183px;
      }
      .clipped-border:nth-child(6) {
          top: 204px;
          left: 0px;  
      }
      .clipped-border:nth-child(7) {
          top: 204px;
          left: 122px;
      }
      .clipped-border:nth-child(8) {
          top: 204px;
          left: 244px;
      }
      .clipped-border:nth-child(9) {
          top: 306px;
          left: 61px;
      }
      .clipped-border:nth-child(10) {
          top: 306px;
          left: 183px;
      }
      .clipped-border:nth-child(11) {
          top: 408px;
          left: 0px;
      }
      .clipped-border:nth-child(12) {
          top: 408px;
          left: 122px;
      }
      .clipped-border:nth-child(13) {
          top: 408px;
          left: 244px;
      }   
  }

  /*390 px bredde*/
  @media screen and (max-width: 390px) {
      .clipped-border {
          max-height:100px;
          max-width:100px;
  
      }
    
      .clipped-border:nth-child(1) {
          left: 0px;
      }
      .clipped-border:nth-child(2) {
          left: 104px;
      }
      .clipped-border:nth-child(3) {
          left: 208px;
      }
      .clipped-border:nth-child(4) {
          left: 52px;
          top: 87px;
      }
      .clipped-border:nth-child(5) {
          top: 87px;
          left: 156px;
      }
      .clipped-border:nth-child(6) {
          top: 174px;
          left: 0px; 
      }
      .clipped-border:nth-child(7) {
          top: 174px;
          left: 104px;
      }
      .clipped-border:nth-child(8) {
          top: 174px;
          left: 208px;
       }
      .clipped-border:nth-child(9) {
          top: 261px;
          left: 52px;
      }
      .clipped-border:nth-child(10) {
          top: 261px;
          left: 156px;
      }
      .clipped-border:nth-child(11) {
          top: 348px;
          left: 0px;
      }
      .clipped-border:nth-child(12) {
          top: 348px;
          left: 104px;
      }
      .clipped-border:nth-child(13) {
          top: 348px;
          left: 208px;
      }
    }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        .green{
            background-color: #2EB398;
            height: 50px;
        }
    }
    }

    .Green-section{
        z-index:1;
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        height: 200px;
        background-color: #2EB398;
    
    } 
       
    

    /*Den grønne section i main*/
    /*---------------------------------------------*/

    .Green-section{
      background-color: #2EB398;
      border-top: transparent;
      border-bottom: transparent;height: 95vh;
      width: 100vw;
      display: flex;
      height: 55vh;
      .div-container{
          display: flex;
          flex-direction: row;
          border: 2px solid white;
          width: 80vw;
          height: 50vh;
          flex-direction: row;
          margin: auto;
          border-top: transparent;
          border-bottom: transparent;
          border-left: 1px solid #248E78;
          border-right: 1px solid #248E78;
          .Green-section-img{
              width: 20vw;
              margin-top: 2vw;
          }

          .Green-section-text{
              margin-top: 3vw;
              margin-left: 2vw;
              font: normal 90% arial, helvetica, sans-serif;

              h1{
                  color: white;
                  font-size: 28px;
                  font-weight: 200;
                  margin-bottom: 0;

              }
              h2{
                  font-size: 14px;
                  color: #248E78;
                  margin-top: 3px;
              }

              p{
                  color: white;
                  line-height: 25px;
              }
          }
      }
  }